@page "/cadastro"
@inject DadosCarteiras dados

<PageTitle>Cadastrar Carteira</PageTitle>

<h5>Nome:</h5>
<input type="text" @bind=nome/>
<br>
<br>

<h5>Valor Deposito Inicial:</h5>
<input type="text" @bind=valor/>
<br><br>

<h5>CPF:</h5>
<input type="text" 
    maxlength="11"
    @bind=cpf
    />
<br><br>
<button class="btn btn-primary" @onclick="CriarConta">
    Criar Conta</button>

    <br><br>
    <h1>@mensagem</h1>
    
@code {
    private string nome;
    private double valor;
    private string mensagem="";
    private string cpf;

    private void CriarConta()
    {
        Carteira novaConta = new Carteira();
        novaConta.Dono = nome;
        novaConta.Depositar(valor);
        novaConta.cpf = cpf;

        if(novaConta.Saldo == 0){
            novaConta.LimiteConta = 0;
        }else{
            novaConta.LimiteConta = valor * 0.1;
        }

        dados.ListaDados.Add(novaConta);
        mensagem = $"Carteira Criada com Sucesso ({novaConta.Dono} Saldo:{novaConta.Saldo})";
        nome = "";
        valor = 0;
        cpf = "";
    }
}
